<div class="sidebar">
  <%= form_with model: Talk.new, local: true do |form| %>
    <div class="form">
      <!-- <i class="fas fa-pen"></i> -->
      <%= form.text_area :content, class: 'content' %>
      <%= button_tag "Send", class: 'send-button' %>
    </div>
  <% end %>
</div>

<div class="timeline">
  <ul class="talks">
    <% @talks.each.with_index(1) do |talk, index| %>
    <li class="talk talk-<%= index %>">
      <%= talk.content %>
      <%= link_to "delete", talks_path(id: talk.id), method: :delete %>
    </li>
    <% end %>
  </ul>
</div>

